#face {
  background-color: #f3f3f3;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 6px solid black;
  position: relative;
  transform: scale(-1);
}

#minutes,
#hour,
#seconds {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: top center;
}

#seconds {
  background-color: red;
  height: 130px;
  width: 2px;
  transform: rotate(180deg);
}

#hour {
  background-color: black;
  height: 100px;
  width: 8px;
  transform: rotate(360deg);
}

#minutes {
  background-color: grey;
  height: 120px;
  width: 4px;
  transform: rotate(180deg);
}

.num-clock {
  margin-left: 100px;
  margin-top: 30px;
}

.num-clock h4 {
  font-size: 2rem;
}

.container {
  width: 300px;
  margin: 20px auto;
}
